input[type="range"]::-moz-range-thumb:hover {
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
  cursor: grabbing;
  background-color: #10d5c2;
  box-shadow: 1px 1px 7px #10d5c2;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #10d5c2 url("../../images/icon-slider.svg") no-repeat
    center center;
  background-size: 55%;
}

input[type="range"]::-moz-range-track {
  background-color: #eaeefb;
  height: 0.4375rem;
  border: none;
  border-radius: 0.25rem;
}

input[type="range"]::-moz-range-progress {
  background-color: #10d5c2;
  height: 0.4375rem;
}


