@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  /* ### Primary */

  --Soft-Cyan-Full-Slider-Bar: #a5f3eb;
  --Strong-Cyan-Slider-Backround: #10d5c2;
  --Light-Grayish-Red-Discount-Background: #feece7;
  --Light-Red-Discount-Text: #ff8c66;
  --Pale-Blue-CTA-Text: #bdccff;

  /* ### Neutral */

  --White-Pricing-Component-Background: #ffffff;
  --Very-Pale-Blue-Main-Background: #fafbff;
  --Light-Grayish-Blue-Empty-Slider-Bar: #eaeefb;
  --Light-Grayish-Blue-Toggle-Background: #cdd7ee;
  --Grayish-Blue-Text: #858fad;
  --Dark-Desaturated-Blue-Text-CTA-Background: #293356;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Manrope", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
